# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
 1. Python
 2. RStudio
 3. Julia

### Objectives:
* List Popular Languages Data Scientists Use
* List Common Libraries Used By Data Scientists
* Evaluate Arithmetic Expressions in Python
* Convert 200 Minutes to Hours in Python

## Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. NumPy
 3. Matplotlib

|Data Science Tools |
|     --------      |
|     TensorFlow    |
|     MySQL         |
|     MongoDB       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = (3*4)+5
#This a simple arithmetic expression to mutiply then add integers
a

17

In [6]:
minutes = 200
#This will convert 200 minutes to hours by diving by 60
b = 200/60
b = round(b,1)
b

3.3

## Author
 Nikolas Simeunovic